html {
    background-color: black;
   }
   
   .background {
       position: fixed;
       top: 20;
       right: 0;
   }

   img {
   width: 35vw;
   height: auto;
   }
   
   .topnav {
       color: rgb(232, 150, 44);
       letter-spacing: 3px;
       text-decoration: none;
       display: flex;
       flex-direction: row;
       list-style: none;
       text-align: right;
   }
   
   li {
       padding: 2.5vw;
       margin: 2.5vw;
       font-size: 2vw;
   }
   
   li:hover {
       opacity: .5;
       cursor: pointer;
       transition: .25s ease-in-out;
       }
       
       a:visited {
           color: rgb(232, 150, 44);
       }
       
       a:link {
           color: rgb(232, 150, 44);
           text-decoration: none;
       }

       .aboutus {
        color: rgb(232, 150, 44);
        font-size: 1.5vw;
       max-width: 50%;
       line-height: 1.3;
       letter-spacing: 2px;
       margin-left: 60px;
       }
   
    