html {
    background-color: black;
   }
   
   .background {
       position: fixed;
       top: 20;
       right: 0;
   }

   img {
    width: 20vw;
    height: auto;
    border-radius: 200px;
    padding: 80px;
    }

    #products {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    }
   
   .topnav {
       color: rgb(232, 150, 44);
       letter-spacing: 3px;
       text-decoration: none;
       display: flex;
       flex-direction: row;
       list-style: none;
       text-align: right;
   }
   
   li {
       padding: 2.5vw;
       margin: 2.5vw;
       font-size: 2vw;
   }
   
   li:hover {
       opacity: .5;
       cursor: pointer;
       transition: .25s ease-in-out;
       }
       
       a:visited {
           color: rgb(232, 150, 44);
       }
       
       a:link {
           color: rgb(232, 150, 44);
           text-decoration: none;
       }


    #labels {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    p {
        color: rgb(232, 150, 44);
        font-size: 30px;
        display: inline;
    }

