html {
 background-color: black;
}

.background {
    position: fixed;
    top: 20;
    right: 0;
}

.topnav {
    color: rgb(232, 150, 44);
    letter-spacing: 3px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: right;
}

li {
    padding: 2.5vw;
    margin: 2.5vw;
    font-size: 2vw;
}

li:hover {
    opacity: .5;
    cursor: pointer;
    transition: .25s ease-in-out;
    }
    
    a:visited {
        color: rgb(232, 150, 44);
    }
    
    a:link {
        color: rgb(232, 150, 44);
        text-decoration: none;
    }

    .traditional {
        display: flex;
        justify-content: center;
    }
 
    H2 {
        color: rgb(232, 150, 44);
        font-size: 30px;
    }

    h3 {
        color: rgb(232, 150, 44);
        font-size: 18px;
        display: flex;
        margin-top: 90px;
    }

    h4 {
        color: rgb(232, 150, 44);
        font-size: 18px;
        display: flex;
    }

    /*.product-image1, .product-image2, .product-image3, .product-image4 {
      display: flex;
      flex-direction: row;
    }*/

   

/*TRADITIONAL CARD*/

    .traditional{
        background-color: transparent;
        width: 550px;
        height: 450px;
        perspective: 1000px; 
        margin-left: 350px;
      }
    
      
      .traditional-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }
      
      
      .traditional:hover .traditional-inner {
        transform: rotateY(180deg);
      }
      
    
      .traditional-front, .traditional-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; 
        backface-visibility: hidden;
      }
      
     
      .traditional-front {
        background-color: black;
        color: black;
      }
      
      
      .traditional-back {
        background-color: black;
        color: rgb(232, 150, 44);
        transform: rotateY(180deg);
      }
    
/*CARD ONE*/
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; 
    padding: 80px;
  }

  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
 
  .flip-card-front {
    background-color: black;
    color: black;
  }
  
  
  .flip-card-back {
    background-color: black;
    color: rgb(232, 150, 44);
    transform: rotateY(180deg);
  }

/*card two*/

  .flip-card2 {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; 
    padding: 80px;
  }
  
 
  .flip-card-inner2 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  
  .flip-card2:hover .flip-card-inner2 {
    transform: rotateY(180deg);
  }
  
  
  .flip-card-front2, .flip-card-back2 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
 
  .flip-card-front2 {
    background-color: black;
    color: black;
  }
  

  .flip-card-back2 {
    background-color: black;
    color: rgb(232, 150, 44);
    transform: rotateY(180deg);
  }

/* card three */

.flip-card3 {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; 
    padding: 80px;
  }
  
 
  .flip-card-inner3 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  
  .flip-card3:hover .flip-card-inner3 {
    transform: rotateY(180deg);
  }
  
  
  .flip-card-front3, .flip-card-back3 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
 
  .flip-card-front3 {
    background-color: black;
    color: black;
  }
  

  .flip-card-back3 {
    background-color: black;
    color: rgb(232, 150, 44);
    transform: rotateY(180deg);
  }

  /*card four*/

  .flip-card4 {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; 
    padding: 80px;
  }
  
 
  .flip-card-inner4 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  
  .flip-card4:hover .flip-card-inner4 {
    transform: rotateY(180deg);
  }
  
  
  .flip-card-front4, .flip-card-back4 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
 
  .flip-card-front4 {
    background-color: black;
    color: black;
  }
  

  .flip-card-back4 {
    background-color: black;
    color: rgb(232, 150, 44);
    transform: rotateY(180deg);
  }

    .small-picture {
        height: 10vw;
        width: auto;
        padding: 40px;
    }

.small-picture1 {
    display: flex;
        justify-content: center;
}

    /*.small-picture1, .small-picture3 {
        margin-left: -40;
    }*/
    
    #product-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        padding: 100px;
    
    }

    #blackrose, #matcha, #rooibos, #sencha {
      display: inline;
        max-width: 15vw;
        padding: 100px;
    }